* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html{
  background-color: rgb(156, 156, 156);
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(156, 156, 156);
  padding: 50px;

  
}

li {
  letter-spacing: 0.5px;
  text-align: left;
  width: 400px;
  padding: 10px;
  border-left: 4px solid cyan;
  background-color: rgb(235, 251, 255);
  overflow: auto;
}

ul {
  list-style: none;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 156, 156);
  margin-bottom: 10px;
}



.delete-button {
  padding: 10.5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(255, 121, 121);
  font-weight: bold;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(255, 204, 204);
}

.input-wrapper {
  padding: 30px;
}

input {
  padding: 10px;
  width: 300px;
}

.add-button {
  width: 70px;
  padding: 10px;
  background-color: rgb(121, 255, 132);
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(199, 255, 204);
}
